@import "./reset.css";
@import "./topbar.css";
@import "./header.css";

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins/Poppins-Bold.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}