@import "./reset.css";
@import "./topbar.css";
@import "./header.css";
@import "./hero-section.css";

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins/Poppins-Bold.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* flash sale */

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 50px;
}

.header-box {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.header-box span {
  color: #db4444;
  position: absolute;
  left: 35px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.header-box::before {
  content: "";
  position: absolute;
  background-color: #db4444;
  border-radius: 4px;
  width: 20px;
  height: 40px;
}

.header-box-action {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.header-box-action>div:nth-child(2) {
  margin-left: auto;
}

.header-box-action>div:nth-child(1) {
  display: flex;
  column-gap: 30px;
}

.heading-title {
  font-size: 36px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 48px;
  letter-spacing: 4%;
}

.countdown {
  display: flex;
  font-size: 32px;
  align-items: center;
  font-family: "Inter", sans-serif;
  line-height: 30px;
  letter-spacing: 4%;
}

.countdown div {
  text-align: center;
  margin: 0 8px;
}

.countdown .label {
  font-size: 12px;
  display: block;
  font-family: var(--font-poppins);
  line-height: 18px;
  font-weight: 500;
}

.separator {
  font-size: 24px;
  font-weight: bold;
  color: #e07575;
  padding-top: 8px;
}




.product-line {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.flash-sales-container .action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.btn {
  background-color: #db4444;
  border: none;
  color: white;
  height: 56px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;
  line-height: 24px;
  font-size: 16px;
  font-family: var(--font-poppins);
  font-weight: 500;
}

.category-line {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.category-line div {
  height: 170px;
  width: 145px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-name {
  font-size: 16px;
  font-family: var(--font-poppins);
  line-height: 24px;
}

.footer {
  padding-left: 50px;
  justify-content: center;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #030406;
  color: white;
}

.footer-title {
  font-family: var(--font-poppins);
  line-height: 28px;
  font-size: 20px;
  font-weight: 500;
}

.container.footer p {
  font-size: 16px;
  font-family: var(--font-poppins);
  line-height: 24px;
  padding-top: 15px;
}

.head-title {
  font-family: var(--font-inter);
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3%;
  font-weight: bold;
}

.footer input {
  height: 48px;
  width: 217px;
  background-color: #030406;
  border: 1px solid white;
  padding: 10px;
  border-radius: 4px;
}

.input-container {
  margin-top: 12px;
  position: relative;
  display: inline-block;
}

.input-container input {
  padding-right: 30px;
}

.input-container .arrow-icon {
  position: absolute;
  right: 10px;
  top: 48%;
  transform: translateY(-50%);
  pointer-events: none;
}