.input-search {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.input-search input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-search .fa-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* ----- */
header {
  max-width: 1440px;
  border-bottom: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: grid;
  grid-template-columns: 180px 1fr 1fr;
  height: 100px;
  align-items: end;
  max-width: 1170px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 80px;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.utilities {
  display: flex;
  column-gap: 45px;
  align-items: center;
  justify-items: end;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  line-height: 24px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  column-gap: 35px;
}