.hero-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 35px;
  max-width: var(--width-large);
}

.slideshow {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-items: end;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  display: block;
}