.product-item {
  position: relative;
  width: 270px;
  border-radius: 10px;
  text-align: center;
  height: 350px;
  background: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.product-thumbnail {
  background: #f5f5f5;
  position: relative;
  padding: 10px;
}

.product-discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 5px;
}

.product-actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.product-actions i {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s;
}

.product-actions i:hover {
  color: red;
}

.product-image {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.product-info {
  padding: 15px;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  font-family: var(--font-poppins);
}

.product-price {
  font-size: 14px;
  margin: 10px 0;
}

.price-current {
  color: red;
  font-weight: bold;
}

.price-old {
  text-decoration: line-through;
  color: gray;
  margin-left: 5px;
}

.product-rating {
  font-size: 14px;
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-count {
  font-size: 12px;
  color: gray;
  margin-left: 5px;
}